.footerContainer{
  background: linear-gradient(to top, var(--darkest),var(--darkest), transparent);
  color: var(--textWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disclaimerText{
  opacity: 0.8;
}
.langUsed{
  justify-content: center;
  align-items: center;
}
.langUsed p {
  opacity: 0.5;
  width: 90%;
}
.icons {
  opacity: 0.8;
  color: var(--textWhite);
}